




/* cuerpo*/
.cuerpo{
    width: 100%;
    height: 100vh;
}

.img-fondo {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/f.jpeg);
    /* El degradado oscuro está formado por dos puntos rgba(0, 0, 0, 0.5) que representan negro con 50% de opacidad */
}

.eslogan{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.eslogan h2{
    font-size: 1.9rem;
    color: white;
}

.eslogan p{
    font-size: 1.4rem;
    color: white;
}

@media (max-width: 700px){
    .eslogan{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: var(--color-blue);
    }
    .eslogan h2{
        text-align: center;
        font-size: 1.2rem;
    }
    
    .eslogan p{
        text-align: center;
        font-size: 0.8rem;
    }

}


/* cuerpo  two*/

.cuerpo-two{
    background-color: #0b0c0e;
    width: 100%;
    height: 90vh;
    border-top: 1px solid rgb(219, 218, 218);
}

.categorias-fg{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20%;
    color: white;

}

.item {
    position: relative;
    height: 60%;
    width: 30%;
    border-radius: 10px;
}

.item:hover{
    background-color: #524e4e;
}

.img-anime{
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url(../images/zapatillas/1.1.jpg);
    background-size: 100% 100%;
    border-radius: 10px;
}

.des-ani{
    position: absolute;
    bottom: 0;
    background-color: #33FF57;
    width: 100%;
    height: 15%;
    background-color: #131111;
    opacity: 0.8;
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.des-ani:hover{
    opacity: 1;
}


.parrafo {
    height: 100%;
    width: 100%;
    display: grid;
}

.fg{
    text-align: center;
    color: var(--color-blue);
    margin-top: 1rem;
    text-transform: uppercase;
}

.fd{
    text-align: center;
    color: var(--color-secondary);
    font-size: 1.3rem;
}


@media (max-width: 700px){
    .categorias-fg{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 7%;
    
    }
    
    .item {
        position: relative;
        height: 40%;
        width: 60%;
        border-radius: 10px;
    }
    .parrafo {
        height: 100%;
        width: 100%;
    }
    
    .fg{
        font-size: 1.1rem;
    }
    .fd{
        font-size: 1rem;
    }
    

    
}


/* sliders dddddddddddddddddddddddd*/
.categorias2 {
    width: 100%;
    height: 200vh;
    background-color: #0b0c0e;
    border-top: 1px solid rgb(219, 218, 218);
    border-bottom: 1px solid rgb(219, 218, 218);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    color: white;
}

.caja,
.caja2 {
    width: 90%;
    height: 40%;
    display: grid;
    position: relative;
}

.categorias,
.categorias2 h2 {
    color: var(--color-secondary);
    margin-top: 80px;
}

.mujeres {
    text-align: center;
    margin-top: 30px;
    color: var(--color-secondary);
}

#men,
#woman {
    justify-self: center;
    width: 900px;
    height: 250px;
    border-radius: 10px;
    overflow: hidden;
    display: grid;
}

.carruseles,
.carruseles2 {
    display: grid;
    grid-template-columns: repeat(8, 225px);
    grid-template-rows: 98%;
    transition: 1s;
    gap: 15px;
}

.img5,
.muj {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

#at,
#A {
    position: absolute;
    margin-top: 230px;
    color: var(--color-accent1);
    font-size: 40px;
    left: 150px;
    cursor: pointer;
}

#ade,
#a {
    position: absolute;
    right: 140px;
    margin-top: 230px;
    color: var(--color-accent1);
    font-size: 40px;
    cursor: pointer;
}


/* Estilos para la sección "ultimo" */
.ultimo {
    background-color: #000000; /* Color de fondo */
    padding: 50px 0; /* Espaciado interno */
    height: 100%;
}

/* Estilos para el pie de página */
footer {
    text-align: center; /* Alinear al centro */
}

/* Estilos para el contenedor */
.container {
    max-width: 90%; /* Ancho máximo */
    margin: 0 auto; /* Centrar horizontalmente */
}

/* Estilos para el contenido del pie de página */
.footer-content {
    display: flex; /* Mostrar en fila */
    justify-content: space-between; /* Distribuir espacios uniformemente */
    gap: 10%;
}


/* Estilos para las secciones del pie de página */
.footer-section {
    flex: 1; /* Ocupar el mismo espacio */
    margin-right: 20px; /* Margen derecho */
}

.politicas {
    width: 50%;
}

.politicas h2{
    color:#ececec;
}

.politicas p{
    color:#9c9a9a;
}

/* Estilos para los títulos de las secciones */
.footer-section h2 {
    color: #bebebe; /* Color del texto */
    font-size: 1.5rem; /* Tamaño de fuente */
    margin-bottom: 15px; /* Margen inferior */
}

/* Estilos para los párrafos de las secciones */
.footer-section p {
    color: #ffffff; /* Color del texto */
    font-size: 1rem; /* Tamaño de fuente */
    line-height: 1.5; /* Altura de línea */
}

/* Estilos para las listas de redes sociales */
.socials {
    list-style: none; /* Quitar viñetas */
    padding: 0; /* Eliminar relleno */
    margin: 0; /* Eliminar margen */
}

/* Estilos para los íconos de redes sociales */
.socials li {
    display: inline-block; /* Mostrar en línea */
    margin-right: 10px; /* Margen derecho */
}

/* Estilos para los íconos de redes sociales */
.socials li a {
    color: #bb1010; /* Color del texto */
    font-size: 1.5rem; /* Tamaño de fuente */
    text-decoration: none; /* Quitar subrayado */
}

/* Estilos para los íconos de redes sociales al pasar el ratón */
.socials li a:hover {
    color: #333; /* Cambiar color del texto al pasar el ratón */
}







@media (max-width: 1200px) {
    #men,
    #woman {
        justify-self: center;
        width: 500px;
        height: 350px;
        border-radius: 10px;
        overflow: hidden;
    }
    .carruseles,
    .carruseles2 {
        grid-template-columns: repeat(8, 245px);
        height: 350px;
    }

    .footer-content {
        display: flex; /* Mostrar en fila */
        flex-direction: column;
        gap: 30%;
        justify-content: center;
        align-items: center;
    }
    
}

@media (max-width: 950px) {
    #men,
    #woman {
        justify-self: center;
        width: 200px;
        height: 250px;
        border-radius: 10px;
        overflow: hidden;
        display: grid;
    }
    .carruseles,
    .carruseles2 {
        display: grid;
        grid-template-columns: repeat(8, 200px);
        height: 250px;
    }

    #at,#A{
        left: 20px;
        top: 10rem;
    }
    #ade, #a{
        right: 20px;
        top: 10rem;
    }

    /* Estilos para el contenedor */
    .container {
        max-width: 90%; /* Ancho máximo */
        margin: 0 auto; /* Centrar horizontalmente */
    }

    .footer-content {
        display: flex; /* Mostrar en fila */
        flex-direction: column;
        gap: 30%;
        justify-content: center;
        align-items: center;
    }
    
}



/*penultimmo*/

